.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #741188;
    border-color: #741188;
}

.button:focus {
    outline: none;
}

.button:disabled:hover,
.button:disabled,
.button[disabled]{
    border: 1px solid #dcd5d5;
    background-color: #d7d7d7;
    color: #aba3a3;
}
